body{
  background-color: #353935;
}
.container{
  margin-top: 20px;
  background: linear-gradient( #2980b9, #6dd5fa, #ffffff );
  height: 600px;
  width: 450px;
  border-radius: 3px;
  box-shadow: black solid 1px 1px 2px 3px;
}

h1{
  color: white;
  text-shadow: 2px 2px 1px black;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 50px;
}

#resultat{
  color: black;
  text-shadow: 1px 1px  white;
  margin: 50px;
}

#ville{
  max-width: 250px;
}